@use "./../../mixins" as *;

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 30px;
}

.service {
    @include flex-around;
    column-gap: 15px;
    width: 100%;
    height: 160px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: var(--txt-clr);
    border-radius: 80px;
    padding: 0 40px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s;

    h4 {
        font-weight: 600;
        font-size: 1.2rem;
    }
    p {
        font-weight: 200;
    }
}

.service--active {
    transform: translateY(0);
    opacity: 1;
}

@media (max-width: 1300px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 15px;
    }
}

@media (max-width: 900px) {
    .services-grid {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
}
