.our-clinic__masonry {
	padding: 30px 30px 0 30px;
	column-count: 3;
	column-gap: 30px;
}

.masonry__item {
	margin-bottom: 30px;
}

.masonry__img-container {
	width: 100%;
	overflow: hidden;
	// TODO:
	clip-path: inset(0 round 30px);
}

// TODO:
@media (hover: hover) and (pointer: fine) {
	.masonry__img-container {
		img {
			transition: transform 300ms ease;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

@media (max-width: 809px) {
	.our-clinic__masonry {
		padding: 30px 15px 0 15px;
		column-count: 2;
		column-gap: 7.5px;
	}

	.masonry__item {
		margin-bottom: 7.5px;
	}
}
