.to-top-btn {
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: grid;
    place-content: center;
    width: 60px;
    height: 60px;
    // background-color: rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);

    // border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    transform: translateY(85px);
    transition: transform 300ms;

    div {
        display: grid;
        place-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    span {
        display: grid;
        place-content: center;
        // background-color: rgba(0, 0, 0, 0.1);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 150ms;

        // &:hover {
        // background-color: rgba(0, 0, 0, 0.5);
        // }

        img {
            width: 25px;
        }
    }
}

.to-top-btn--translate {
    transform: translateY(0);
}
