@use "./../../styles/mixins" as *;

.to-top-btn {
	position: fixed;
	right: 30px;
	bottom: -60px;
	z-index: 2;
	width: 60px;
	aspect-ratio: 1/1;
	@include grid-center;
	background: var(--accent-clr-semi-tp);
	border-radius: 50%;
	transition: all 300ms;

	&:hover {
		background: var(--accent-clr);
	}
}

.to-top-btn--active {
	bottom: 30px;
}

.progress {
	width: 50px;
	aspect-ratio: 1/1;
	@include grid-center;
	border-radius: inherit;
}

.inner-to-top-btn {
	width: 45px;
	aspect-ratio: 1/1;
	@include grid-center;
	background: var(--accent-clr);
	border-radius: inherit;
	color: #fff;
}

@media screen and (width <= 900px) {
	.to-top-btn {
		right: 15px;
	}

	.to-top-btn--active {
		bottom: 15px;
	}
}
