@use "./../../mixins" as *;

.page-title {
    padding: 160px 30px 0;
}

.page-title__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
        @include grid-center;
        height: 30px;
        padding: 0 7.5px;

        &:nth-last-of-type(1) {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

.page-title__link {
    @include grid-center;
    height: 30px;
    border-radius: 15px;
    padding: 0 7.5px;
    transition: background-color 300ms;

    &:hover {
        background: var(--accent-clr);
    }
}

.page-title__title {
    font-size: 3rem;
}

@media (max-width: 900px) {
    .page-title {
        padding: 160px 15px 0;
    }
}
