@use "./../../mixins" as *;

.page-title {
    margin: 170px 0 35px;
    // background: linear-gradient(-90deg, var(--accent-clr), var(--home-bg-clr));
    color: var(--txt-clr);
    // padding: 50px;
}

.links-container {
    padding: 50px 50px 0;
    // padding: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
        padding: 5px;
        pointer-events: none;
        opacity: 0.5;
    }
}

.page-title__link {
    padding: 5px;
    border-radius: 15px;
    transition: background-color 150ms;

    &:hover {
        background: var(--accent-clr);
    }
}

.page-title__title {
    font-size: 3rem;
    padding: 0 50px 50px;
}

@media (max-width: 900px) {
    .links-container {
        padding: 25px 25px 0;
    }

    .page-title__title {
        padding: 0 25px 25px;
    }
}

@media (max-width: 800px) {
    .links-container {
        padding: 15px 15px 0;
    }

    .page-title__title {
        padding: 0 15px 15px;
    }
}
