@use "./../../mixins" as *;

.page-title {
    margin: 160px 0 30px;
}

.links-container {
    padding: 30px 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
        height: 30px;
        padding: 5px;
        opacity: 0.5;
    }

    span {
        height: 30px;
        padding: 5px;
    }

    span:nth-last-of-type(1) {
        opacity: 0.5;
    }
}

.page-title__link {
    height: 30px;
    padding: 5px;
    border-radius: 15px;
    transition: background-color 150ms;

    &:hover {
        background: var(--accent-clr);
        color: #000;
    }
}

.page-title__title {
    font-size: 3rem;
    padding: 0 30px 30px;
}

@media (max-width: 900px) {
    .links-container {
        padding: 30px 15px 0;
    }

    .page-title__title {
        padding: 0 15px 30px;
    }
}
