@use "fonts" as *;
@use "reset" as *;
@use "variables" as *;

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: "Montserrat", serif;
	background: var(--bg-clr);
	color: var(--txt-clr);
	overflow-y: hidden;
}

.body--active {
	overflow-y: scroll !important;
	height: auto !important;
}

a {
	color: var(--txt-clr);
}

#root {
	display: flex;
	flex-direction: column;
}
