@use "./../../mixins" as *;

.home {
    @include flex-center;
    flex-direction: column;
    padding-bottom: 30px;
}

.home__top {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    row-gap: 30px;

    h2 {
        text-align: center;
        color: var(--txt-clr);
        font-size: clamp(2rem, 6vw, 4rem);
        font-weight: 500;
        opacity: 0;
        animation: revealHome 1s 1s forwards;
    }

    p {
        color: var(--txt-clr);
        font-size: 1.5rem;
        font-weight: 300;
        opacity: 0;
        animation: revealHome 1s 1s forwards;
    }
}

.btn-container {
    @include flex-center;
    gap: 30px;
    opacity: 0;
    animation: revealHome 1s 1s forwards;
}

@keyframes revealHome {
    to {
        opacity: 1;
    }
}

.home__book-btn,
.services-btn {
    display: grid;
    place-content: center;
    height: 40px;
    padding: 0 10px;
    color: var(--txt-clr);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.25);
    transition: background-color 150ms;
    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }
}

.home__services-title {
    font-size: 2rem;
    padding: 30px 0;
}

.home__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 30px 30px;
}

.home__service {
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    @include flex-center;
    gap: 15px;
    height: 170px;
    border: 1px solid var(--border-25);
    color: var(--txt-clr);
    border-radius: 85px;
    padding: 0 15px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s;

    h4 {
        font-weight: 600;
        font-size: 1.2rem;
    }
    p {
        font-weight: 200;
    }
}

.view-more {
    position: absolute;
    @include grid-center;
    width: 100%;
    height: 100%;
    border-radius: 85px;
    transition: background-color 0.15s;

    &:hover {
        background: var(--accent-clr);
    }
}

.service--active {
    transform: translateY(0);
    opacity: 1;
}

// Faq

.faq {
    @include flex-center;
    padding: 30px 30px 0;
}

.faq__title {
    width: 50%;
    font-size: 3rem;
    @include grid-center;
}

.faq__list {
    width: 50%;
}

.faq__item {
    padding: 15px;

    &:not(:last-child) {
        border-bottom: 1px solid var(--border-25);
    }
}

.faq__btn {
    width: 100%;
    height: 60px;
    @include flex-between-center;
}

.faq__btn-icon {
    position: relative;
    width: 30px;
    height: 2px;
    background: var(--txt-clr);
}

.faq__btn-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 30px;
    background: var(--txt-clr);
    transition: height 0.3s;
}

.faq__btn-icon--active::after {
    height: 1px;
}

.grid-dropdown {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.3s;
}

.grid-dropdown--active {
    grid-template-rows: 1fr;
}

.grid-dropdown__details {
    overflow: hidden;
    text-align: justify;
}

@media (max-width: 1300px) {
    .home__services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .home__services {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 15px 30px;
    }

    .faq {
        padding: 30px 15px 0;
    }
}

@media (max-width: 800px) {
    .home__services {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 0 30px;
    }

    .faq {
        flex-direction: column;
        padding: 30px 0 0;
    }

    .faq__title {
        width: 100%;
    }

    .faq__list {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .btn-container {
        flex-direction: column;
    }
}
