@use "./../../mixins" as *;

.home {
    @include flex-center;
    flex-direction: column;
    padding-bottom: 30px;
}

.home__top {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    row-gap: 30px;

    h2 {
        text-align: center;
        color: var(--txt-clr);
        font-size: clamp(2rem, 6vw, 4rem);
        font-weight: 500;
        opacity: 0;
        animation: revealHome 1s 1s forwards;
    }

    p {
        color: var(--txt-clr);
        font-size: 1.5rem;
        font-weight: 300;
        opacity: 0;
        animation: revealHome 1s 1s forwards;
    }
}

.btn-container {
    @include flex-center;
    gap: 30px;
    opacity: 0;
    animation: revealHome 1s 1s forwards;
}

@keyframes revealHome {
    to {
        opacity: 1;
    }
}

.home__book-btn,
.services-btn {
    display: grid;
    place-content: center;
    height: 40px;
    padding: 0 10px;
    color: var(--txt-clr);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.25);
    transition: background-color 150ms;
    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }
}

.home__services-title {
    font-size: 2rem;
    padding: 30px 0;
}

.home__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 30px;
}

.home__service {
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    @include flex-center;
    gap: 15px;
    height: 170px;
    border: 1px solid var(--border-25);
    color: var(--txt-clr);
    border-radius: 85px;
    padding: 0 15px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s;

    h4 {
        font-weight: 600;
        font-size: 1.2rem;
    }
    p {
        font-weight: 200;
    }
}

.view-more {
    position: absolute;
    @include grid-center;
    width: 100%;
    height: 100%;
    border-radius: 85px;
    transition: background-color 0.15s;

    &:hover {
        background: var(--accent-clr);
    }
}

.service--active {
    transform: translateY(0);
    opacity: 1;
}

@media (max-width: 1300px) {
    .home__services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .home__services {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 15px;
    }
}

@media (max-width: 800px) {
    .home__services {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
}

@media (max-width: 500px) {
    .btn-container {
        flex-direction: column;
    }
}
