// Aurora style bg
.home__custom-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    pointer-events: none;

    div {
        opacity: 0;
        transform: translateY(-100px);
        transition: opacity 1s, transform 2s;
    }

    .element--active {
        opacity: 1;
        transform: translateY(0);
    }

    div:nth-of-type(1) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 20%,
            var(--home-bg-clr)
        );
    }
    div:nth-of-type(2) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 25%,
            var(--home-bg-clr)
        );
    }
    div:nth-of-type(3) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 30%,
            var(--home-bg-clr)
        );
    }
    div:nth-of-type(4) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 35%,
            var(--home-bg-clr)
        );
    }
    div:nth-of-type(5) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 40%,
            var(--home-bg-clr)
        );
    }
    div:nth-of-type(6) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 45%,
            var(--home-bg-clr)
        );
    }
    div:nth-of-type(7) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 50%,
            var(--home-bg-clr)
        );
    }
    div:nth-of-type(8) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 55%,
            var(--home-bg-clr)
        );
    }
    div:nth-of-type(9) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 60%,
            var(--home-bg-clr)
        );
    }
    div:nth-of-type(10) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 65%,
            var(--home-bg-clr)
        );
    }
    div:nth-of-type(11) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 70%,
            var(--home-bg-clr)
        );
    }
    div:nth-of-type(12) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 75%,
            var(--home-bg-clr)
        );
    }
    div:nth-of-type(13) {
        background: linear-gradient(
            var(--home-bg-clr),
            var(--accent-clr) 80%,
            var(--home-bg-clr)
        );
    }
}
