@use "./../../mixins" as *;

.header {
    position: absolute;
    top: 0;
    right: 5px;
    left: 5px;
    z-index: 1;
}

.header-top {
    @include flex-between-center;
    height: 30px;
    padding: 0 25px;

    a {
        transition: color 0.15s;

        &:hover {
            color: var(--accent-clr);
        }
    }
}

.header-bottom {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    border-radius: 50px;
    padding: 0 25px;
    background: var(--bg-semi-tp-clr);
    @include glass-effect;
    border: 1px solid var(--border-25);
}

.header-bottom__container {
    @include flex-between-center;
    margin-top: 30px;
}

.header__logo {
    @include flex-center;

    img {
        width: clamp(35px, 4vw, 40px);
    }

    span {
        font-size: clamp(1.5rem, 4vw, 2rem);
    }
}

.lang-select {
    margin-left: auto;
    margin-right: 30px;
}

// Custom select

.lang-custom-select {
    position: relative;
    // width: 100%;
    width: 100px;
    height: 40px;
}

.lang-custom-select__btn {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding-left: 10px;
    text-align: left;
    background: var(--bg-clr);
    border: 1px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
    transition: border 0.15s;

    &:focus {
        border: 1px solid var(--accent-clr);
    }
}

.lang-custom-select__btn--active {
    border: 1px solid var(--accent-clr);
}

.lang-custom-select__btn::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 10px;
    aspect-ratio: 1 / 1;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: var(--txt-clr);
}

.lang-custom-select__list {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: var(--bg-clr);
}

.lang-custom-select__list--visible {
    display: block;
}

.lang-custom-select__option {
    @include flex-start-center;
    height: 40px;
    border-radius: inherit;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color 0.15s;

    &:hover {
        background: var(--accent-clr);
    }
}

.lang-custom-select__option--active {
    background: var(--accent-clr);
}

.lang-custom-select__input {
    display: none;
}

.nav {
    @include flex-between-center;
    width: 50%;
}

.nav-list__dropdown {
    position: relative;
}

.nav-list__dropdown-list {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30px);
    z-index: 1;
    width: max-content;
    background: var(--bg-clr);
    border-radius: 30px;
    padding: 10px;
    border: 1px solid var(--border-25);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
}

.nav-list__dropdown:hover .nav-list__dropdown-list {
    opacity: 1;
    transform: translate(-50%, 0);
    pointer-events: all;
}

.nav__link {
    @include flex-center;
    column-gap: 5px;
    height: 40px;
    border-radius: 20px;
    padding: 0 10px;
    transition: background-color 0.15s;

    &:hover {
        background: var(--accent-clr);
    }
}

.nav__link--active {
    background: var(--accent-clr);
}

.down-arrow {
    width: 10px;
    aspect-ratio: 1 / 1;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: var(--txt-clr);
}

.nav__appointment-link {
    border: 1px solid var(--accent-clr);
}

.nav__contacts-btn,
.nav__appointment-btn {
    display: none;
}

.nav__appointment-link-btn,
.nav__contacts-link {
    height: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: background-color 0.15s;

    &:hover {
        background: var(--accent-clr);
    }
}

// Menu

.header-bottom__grid {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 0.3s ease-out;

    .menu-list {
        overflow: hidden;

        li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
}

.header-bottom__grid--active {
    grid-template-rows: 1fr;
    padding: 30px 0;
}

.menu-dropdown__wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.5s;
}

.menu-dropdown__wrapper--active {
    grid-template-rows: 1fr;
}

.menu-dropdown-list {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menu-item {
    opacity: 0;
}

.menu-item--active {
    opacity: 1;
    transition: opacity 600ms 150ms;
}

.menu-link__wrapper {
    position: relative;
}

.menu-link {
    @include flex-between-center;
    height: 60px;
    transition: color 0.15s;

    &:hover {
        color: var(--accent-clr);
    }
}

.menu-down-arrow-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    @include grid-center;
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.15s;

    &:hover {
        background: var(--accent-clr);
    }
}

.menu-down-arrow {
    width: 10px;
    aspect-ratio: 1 / 1;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: var(--txt-clr);
}

.dropdown-menu-link {
    margin: 5px 0;
    transition: color 0.15s;

    &:hover {
        color: var(--accent-clr);
    }
}

.menu-link--active {
    color: var(--accent-clr);
}

@media (max-width: 1200px) {
    .nav__appointment {
        display: none;
    }

    .nav__appointment-btn {
        display: initial;
    }
}

@media (max-width: 900px) {
    .header-top {
        padding: 0 15px;
    }

    .header-bottom {
        padding: 0 15px;
    }

    .nav__contacts {
        display: none;
    }

    .nav__contacts-btn {
        display: initial;
    }
}

@media (max-width: 800px) {
    .nav {
        display: none;
    }
}

@media (max-width: 350px) {
    .header__logo {
        span {
            display: none;
        }
    }
}
