@use "./../../mixins" as *;

.header {
    // position: fixed;
    position: absolute;
    top: 0;
    right: 5px;
    left: 5px;
    z-index: 2;
}

.header-top {
    @include flex-between;
    height: 30px;
    padding: 0 30px;

    a {
        transition: color 150ms;

        &:hover {
            color: var(--accent-clr);
        }
    }
}

.header-bottom {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding: 0 30px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: var(--bg-semi-tp-clr);
    @include glass-effect;
}

.header-bottom__container {
    @include flex-between;
    margin-top: 30px;
}

.header__logo {
    @include flex-center;

    img {
        width: clamp(35px, 4vw, 40px);
    }

    span {
        font-size: clamp(1.5rem, 4vw, 2rem);
    }
}

.nav {
    @include flex-between;
    width: 50%;

    .nav-list {
        @include flex-between;
        width: 100%;
    }
}

.nav-list__dropdown {
    position: relative;
}

// .nav-list__menu-dropdown {
//     position: relative;
// }

.nav-list__dropdown-list {
    position: absolute;
    z-index: 1;
    width: max-content;
    background: var(--bg-clr);
    border-radius: 30px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    transform: translateY(30px);
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
}

.nav-list__menu-dropdown-list {
    width: 100%;
    overflow: hidden;
}

.nav-list__dropdown:hover .nav-list__dropdown-list {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.nav-list__menu-dropdown:hover .menu-dropdown__wrapper {
    grid-template-rows: 1fr;
}

.nav__link {
    @include grid-center;
    height: 40px;
    border-radius: 20px;
    padding: 0 10px;
    transition: all 150ms;

    &:hover {
        background: var(--accent-clr);
    }
}

.nav__link--active {
    background: var(--accent-clr);
}

.nav__btn-link {
    border: 1px solid var(--accent-clr);
}

.nav__find-us-icon,
.nav__contact-icon {
    display: none;
    place-content: center;
    height: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: background-color 150ms;

    &:hover {
        background: var(--accent-clr);
    }
}

.header-bottom__grid {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 0.3s ease-out;

    .menu-list {
        overflow: hidden;

        li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
    }
}

.header-bottom__grid--active {
    grid-template-rows: 1fr;
    padding: 30px 0;
}

.menu-dropdown-list {
    overflow: hidden;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 0;
}

.menu-dropdown__wrapper {
    display: grid;
    grid-template-rows: 0fr;
    // width: 100%;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.menu-item:hover .menu-dropdown__wrapper {
    grid-template-rows: 1fr;

    // opacity: 0;
    // transition: opacity 150ms;
}

.menu-item--active {
    opacity: 1;
    transition: opacity 600ms 150ms;
}

.menu-link {
    @include flex-between;
    height: 60px;
    transition: all 0.3s;

    span {
        font-weight: 500;
    }

    span:nth-last-of-type(1) {
        font-weight: 200;
    }

    &:hover {
        padding: 0 15px;
        color: var(--accent-clr);
    }
}

.menu-link--active {
    padding: 0 15px;
    color: var(--accent-clr);
}

@media (max-width: 1200px) {
    .nav__btn {
        display: none;
    }

    .nav__contact-icon {
        display: grid;
    }

    .nav {
        .nav-list {
            width: 85%;
        }
    }
}

@media (max-width: 900px) {
    .header-top {
        padding: 0 15px;
    }

    .header-bottom {
        padding: 0 15px;
    }

    .nav__find-us-item {
        display: none;
    }

    .nav__find-us-icon {
        display: grid;
    }

    .nav {
        .nav-list {
            width: 75%;
        }
    }
}

@media (max-width: 800px) {
    .nav {
        display: flex;
        justify-content: flex-end;
        column-gap: 15px;
        width: auto;

        .nav-list {
            display: none;
        }
    }
}
