.loading__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.loading {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    scale: 0.5;
    animation: revealLoading 2s forwards;
}

@keyframes revealLoading {
    50% {
        grid-template-rows: 1fr;
        scale: 0.5;
    }
    100% {
        grid-template-rows: 1fr;
        scale: 1;
    }
}

.loading__logo-icon {
    overflow: hidden;
    width: clamp(200px, 30vw, 400px);
}
