@use "./../../mixins" as *;

.none {
    display: none;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    margin-top: auto;
    min-height: 100px;
}

.footer__link {
    display: grid;
    place-items: center;
    height: 30px;
    border-radius: 15px;
    padding: 0 7.5px;
    transition: background-color 150ms;

    &:hover {
        background: var(--accent-clr);
    }
}

.footer__link--active {
    background: var(--accent-clr);
}

.footer__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 30px;
}

.footer__header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 50px;
    }
    span {
        font-size: 2rem;
    }
}

.footer__header-working-hours {
    width: 300px;

    p {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

.working-hours {
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        border-radius: 15px;
        padding: 0 7.5px;
    }
}

.day--active {
    background: var(--accent-clr);
}

.footer__header-navigation {
    p {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

.footer__header-contact-us {
    p {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        a {
            display: grid;
            place-content: center;
            height: 30px;
            border-radius: 15px;
            padding: 0 7.5px;
            transition: background-color 150ms;

            &:hover {
                background: var(--accent-clr);
            }
        }
    }
}

.footer__bottom {
    @include flex-center;
    flex-direction: column;
    padding-bottom: 30px;
}

.creator {
    a {
        transition: color 150ms;

        &:hover {
            color: var(--accent-clr);
        }
    }
}

@media (max-width: 900px) {
    .none {
        display: initial;
    }

    .footer__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
        padding: 0 15px;
    }

    .footer__header-logo {
        span {
            display: none;
        }
    }

    .footer__header-working-hours,
    .footer__header-navigation,
    .footer__header-contact-us {
        width: 100%;
    }
}
