.appointment-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: calc(100% - 50px);
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 0 20px;
    opacity: 0;
    pointer-events: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    transition: opacity 0.5s, pointer-events 0.5s;
}

.appointment-popup--active {
    opacity: 1;
    pointer-events: all;
}

.appointment-popup__header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
    }
}

form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 10px;
    height: calc(100% - 100px);

    div {
        position: relative;
        &:focus-within label {
            top: 0;
            font-size: 12px;
        }
    }
    label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 10px;
        color: #fff;
        transition: all 0.3s;
    }

    .label--active {
        top: 0;
        font-size: 12px;
    }

    input {
        width: 100% !important;
        flex-shrink: 0;
        height: 50px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        color: #fff;
        padding: 0 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    select {
        height: 50px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        color: #fff;
        padding-left: 10px;

        &:focus {
            outline: none;
        }
    }

    button {
        // margin: auto 0 50px;
        height: 40px;
        background: var(--accent-clr);
        border-radius: 20px;
        font-weight: inherit;
        color: #fff;
    }
}

@media (max-width: 550px) {
    .appointment-popup {
        width: calc(100% - 50px);
    }
}
