@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin glass-effect {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

@mixin grid-center {
    display: grid;
    place-content: center;
}

@mixin appearance {
    -webkit-appearance: none;
    appearance: none;
}
