@use "fonts" as *;
@use "reset" as *;
@use "variables" as *;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", serif;
    background: var(--bg-clr);
    color: var(--txt-clr);
}

a {
    color: var(--txt-clr);
}

#root {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}
