@use "fonts" as *;
@use "reset" as *;
@use "variables" as *;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", serif;
    background: var(--bg-clr);
}

#root {
    // min-height: 100vh;
    min-height: 2000px;
    display: flex;
    flex-direction: column;
}

.bg-theme {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    // background: linear-gradient(rgb(131, 197, 201), rgb(222, 255, 197));
}
